<ng-template #loadingTemplate>
    <span>Loading...please wait</span>
</ng-template>

<ng-template #errorTemplate>
    <span>{{errorMessage}}</span>
</ng-template>

<ng-template #noRecordTemplate>
    <span>No record found....</span>
</ng-template>

<div *ngIf="loadingComplete===true;else loadingTemplate">
    <div *ngIf="errorMessage==='';else errorTemplate">
        <table *ngIf="products;else noRecordTemplate" class="table table-hover">
            <thead class="header-style">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <!-- <tbody class="table-dark"> -->
            <tbody>
                <tr *ngFor="let p of products">
                    <td>
                        <img [src]="p.imageUrl" alt="NA" [title]="p.productName" class="img-style">
                    </td>
                    <td>
                        {{p.productName}}
                    </td>
                    <td>
                        {{p.price}}
                    </td>
                    <td>
                        {{p.starRating}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>