<ng-template #errorTemplate>
    <!-- <span>{{errorMessage}}</span> -->
    <app-error-template [errorInfo]="errorMessage"></app-error-template>
</ng-template>

<ng-template #noRecordTemplate>
    <span>No record found....</span>
</ng-template>

<div *ngIf="errorMessage==='';else errorTemplate">
    <div *ngIf="productInfo;else noRecordTemplate">
        <h3>Details of# {{productInfo.productName|uppercase}}</h3>
        <br>
        <!-- design a form here to render all details of product to be edited, except the product id value -->
    </div>
</div>