<h2>
  {{title}}
</h2>
<br>
<div>
  <label for="txtTextValue">New Text: &nbsp;</label>
  <!-- <input type="text" id="txtTextValue" value="{{title}}" (change)="changeText(txtData.value)" #txtData
    [style.width.px]="widthValue"> -->
  <!-- <input type="text" id="txtTextValue" ngModel [style.width.px]="widthValue" #ref="ngModel"
    (change)="view(ref)"> -->

  <input type="text" id="txtTextValue" [(ngModel)]="title" [style.width.px]="widthValue">
</div>

<br><br>
<h3>List of Numbers</h3>

<ng-template #nonumber>
  <span>No numbers to display</span>
</ng-template>
<ul *ngIf="numbers.length>0;else nonumber">
  <li *ngFor="let num of numbers">{{num}}</li>
</ul>

<ng-template #loading>
  <span>Loading....</span>
</ng-template>
<ng-template #norecord>
  <span>no record found</span>
</ng-template>
<div *ngIf="records;else loading">
  <div *ngIf="records.length>0;else norecord">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{record.id}}</td>
          <td>{{record.name}}</td>
          <td>{{record.salary}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>